*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif ;
}

h1{
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: green;
    font-weight: bold;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: royalblue;
    padding-top: 6px;
}
h6{
    color: #d8d8d8;
}

#logo{
    width: 70px;
    height: 70px;
    
}
.navbar{
    font-size: 15px;
   
    
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active{
    color: coral;
    border-bottom: 2px solid red;
}

#navbarSupportedContent > ul{
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    padding-top: 7px ;
    border: 2px seagreen;
    
}


.carousel-inner{
  background-image: url(images/bacground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  height: 700px;

  
}

.inner-banner{
   text-align: center;
   position:relative;
   top: 36%;
   
   
}
.inner-banner span{
    color: red;
}
.btn{
    background-color: #3bb300;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s ease;
    
}

.inner-shop img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
.inner-shop{
    height: 230px;
    display: flex;
    margin-top: 50px;
    padding-left: 20px;
    background-color:  #e6e6ff;

    
    
}
.alert{
    margin-top: 3rem;
    
}
.shop-text{
    padding-top: 5rem;
    margin-left: 20px;
    text-align: center;
}
.inner-cart{
    text-align: center;
    padding-top: 20px;
    box-shadow: 5px 5px 15px gray;
    
    
}

.one button{
    background-color: red;
    position:relative;
    top: 40%;
    left: 30%;
    
  
}

#new .one .details h2{
    font-size: 20px;
    position: relative;
    top: 40%;
    left: 15%;
    color: seagreen;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;

   
}

#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}
#new{
    margin: 50px 0;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6rem;
    padding: 2rem 0 ;
    background-color:#808080;
}
.section_title:not(:last-child){
    margin: 1.5rem;
}
.section_title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.section_title{
    font-size: 1.9rem;
    font-weight: inherit;

}
.section_title:hover .primary_title,
.section_title:hover span .dot,
.section_title:hover span .dot::before {
   opacity: 1;
}
.section_title .primary_title{
    opacity: 0.6;
    padding-left: 0.5rem;
    transition: opacity 0.3s ease-in-out ;
    color: rebeccapurple;
}
.primary_title{
    font-size: 20px;
   
}
  .dot{
    opacity: 1;
    padding: 5px;
    position: relative;
    border: 1px solid black;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}


.section_title:hover .dot{
    background-color: black;
    transition: 0.3s ease-in-out;
}

.section_title :active .dot{
    opacity: 1;
}

.section_title :active .dot::before{
    opacity: 1;


}
.section_title :active .primary_title{
    opacity: 1;
}


.product{
    position: relative;
    text-align: center;
}

.product ul{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    left: 50%;
    width: 14rem;
    height: 4rem;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.7);
    visibility: hidden;
    transform: translate(-50%, -50%) scale(.5);
    transition:all 0.5s ease-in-out;
    
}


.product:hover ul{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

 .product ul a i{
     width: 40px;
     height: 40px;
     background-color: red;
     cursor: pointer;
     transition: 0.3s;
     color:white;
     padding-top: 10px;
 }

 .product ul a{
     text-decoration: none;
 }

 .product ul a i:hover {
    background-color: black;
    color: red;
    

}
.product ul i:hover::before{
    width: 126%;
    height: 126%;
    border-top: 3px solid orange;
    border-left: 3px solid orange;
    opacity: 1;


}
.product ul i:hover::before{
    width: 126%;
    height: 126%;
    border-bottom: 3px solid orange;
    border-right: 3px solid orange;
    opacity: 2;
    

}
@media only screen and(max-width: 568px){
    .title_container{
        flex-direction: column;
    }
} 
    
@media only screen and(max-width: 760px){
    .product{
        columns: lg -8px;
    }
} 
   
.section_title:not(:last-child){
    margin: 0 0 1.3rem;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;

}
.product_header{
    height: 25rem;
    padding: .5rem 0;
    text-align: center;
}
.product_header img{
    max-width: 100%;
    max-height: 100%;
}
.product-footer{
    padding: 1rem 0;
}
.product-footer .product-price{
    padding-bottom: 1rem;
}
.product-price h3{
    padding: 1rem 0;
}
.rating i{
    color: yellowgreen;
}
.product_price button{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 0;
    border:  1px solid black;
    color: black;
    cursor: pointer;

}
.product_price button:focus{
    outline: none;
}
.product_price button:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}



.devide{
    margin-bottom: 50px;
}

.plane{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    background-color: gray;
    padding: 5px;
    border: 1px solid palegoldenrod;
   
    
  }

 
.plane i{
    position: relative;
    top: 40%;
    left: 37%;
    font-size: 25px;
    transition-duration: 1000ms;
    transition-timing-function: ease;
}
.plane:hover i{
    transform: rotate(180deg);


}
.sub{
    color: #22252c;
    margin-top: 13px;
    margin-left: 25px;
    text-align: center;
    
}
.subsection{
    background-color: #F1F1F1;
    padding: 50px 0;
    margin-bottom: 50px;
}

.myskill{
    margin-bottom: 50px;
}
.OuterBox{
    width: 100%;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background: black;
}

.InnerBox{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(45deg, #1fe6ff, #673AB7);
    animation: html 4s ease-in-out forwards;
}
.OuterBox2{
    width: 100%;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background: black;
}

.InnerBox2{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(45deg, #1fe6ff, #673AB7);
    animation: css 4s ease-in-out forwards;
}
.OuterBox3{
    width: 100%;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background: black;
}

.InnerBox3{
    width:75%;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(45deg, #1fe6ff, #673AB7);
    animation: boots 4s ease-in-out forwards;
}
.OuterBox4{
    width: 100%;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background: black;
}

.InnerBox4{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(45deg, #1fe6ff, #673AB7);
    animation: java 4s ease-in-out forwards;
}

.myskill h1{
    text-align: center;
    border-bottom: 5px solid gray;
}

span{
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}
@keyframes boots {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    
}
@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
    
}

 
.customer {
    text-align: center;
    align-items: center;
    padding-top: 20px;
   
}
.customer img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 1px solid #282C22;
    
}
.clients{
    text-align: center;
    padding: 15px 0;
    color: #282C22;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    
    
}
.bg{
    background-color: #808080;
}

.tems{
    text-align: center;
    justify-content: center;
    height: 400px;

}
.tems p{
    padding: 10px 0;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: none;
}
.tems:hover p{
    display: block;
    
    
}

.tmr{
    background: #808080;
    padding-right: 5px;
}
.member{
    text-align: center;
    padding-top: 50px ;
    color: #241547;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid palegoldenrod;

    
    
}
.cont{
    margin-top: 50px;
    border: 2px solid gray;
   
}
.contact{
    text-align: center;
    justify-content: center;
    margin: auto;
    border-right: 3px solid gray;
}
.contact h3{
    margin-top: 10px;
    color: gray;
}

.from {
    
    margin: auto;
    text-align: center;
    align-items: center;
}
table{
    border: 5px solid rebeccapurple;
    margin-left: 45px;
    background: #282C22;
    color: palegreen;
    height: 300px;
    
    
}
table input[type="password"]{
    outline: none;
    border: none;
    padding: 5px;
    margin: 5px 10px;
    font-size: 20px;
    background: black;
    color: #3bb300;
    border-radius: 6px;
    
}
table input[type="text"]{
    outline: none;
    border: none;
    padding: 5px;
    margin: 5px 10px;
    font-size: 20px;
    background: black;
    color: #3bb300;
    border-radius: 6px;
    
}
table input[type="email"]{
    outline: none;
    border: none;
    padding: 5px;
    margin: 5px 10px;
    font-size: 20px;
    background: black;
    color: #3bb300;
    border-radius: 6px;
    
}
table input[type="submit"] {
    position: relative;
    margin-left: 200%;
    margin-top: 5px;
    padding: 5px;
}

.border{
    width: 100%;
    height: 2px;background: #808080;
    margin: 80px 0;
}


.sub h6{
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: bold;
    
}

.sub p{
    margin-left: 15px;
}

.subs input[type="text"]{
    outline: none;
    padding: 15px;
    width: 350px; 
    background: #F1F1F1;
    border: none;
}
.subs button{
    outline: none;
    padding:15px;
    background: black;
    color: white;
     outline: none;
     border: none;

    
}

.subcribe{
    margin-top: 50px;
    background: black;
   
}
.subcribe h3{
    padding-left: 20px;
    margin-top: 70px;
    font-size: 25px;
    color: #CCCCC7;
}


.com1 a{
    text-decoration: none;
    padding-left: 20px;
    color: #CCCCCC;
    
   
}
.com2 a{
    text-decoration: none;
    padding-left: 20px;
    color: #CCCCCC;
   
}
.com3 a{
    text-decoration: none;
    padding-left: 20px;
    color: #CCCCCC;
   
}
.com4 a{
    text-decoration: none;
    padding-left: 20px;
    color: #CCCCCC;
   
}
.com1 a:hover{
    color: red;
    transition: 0.3s ease-in-out;
}
.com2 a:hover{
    color: red;
    transition: 0.3s ease-in-out;
}
.com3 a:hover{
    color: red;
    transition: 0.3s ease-in-out;
}
.com4 a:hover{
    color: red;
    transition: 0.3s ease-in-out;
}


.login{
    width: 300px;
    height: 200px;
    background: #808080;
    align-items: center;
    margin: 100px auto;
    border-radius: 6px;
}
.login input[type="text"], [type="password"]{
    outline: none;
    padding: 10px 15px;
    margin: 5px 10px;
    font-size: 20px;
    background: #282C22;
    color: #3bb300;
    border-radius: 6px;
    
}
.login input[type="submit"]{
    padding: 8px 15px;
    margin-left: 100px;
    background: darkblue;
    color: white;
    font-size: 14px;
    cursor: pointer;
}


.footer{
    text-align: center;
    color: rgba(245, 178, 178, 0.7);
    font-size: 12PX;
}